/*reset*/
 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,blockquote,th,td{font-family:Arial,Helvetica,Tahoma,sans-serif;font-size:12px;line-height:1.5;color:#000;margin:0;padding:0;}

.featured_b img,#mid_banner img,.col_950_c img,#left_ad img { margin-right:1px; margin-bottom:1px;}
/* table{border-collapse:collapse;border-spacing:0;}*/
img{border:none;}
fieldset{border:0;}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal;}
strong,b{font-weight:bold;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:700;}
h1{font-size:18px;}
h2{font-size:16px;}
q:before,q:after{content:'';}
abbr,acronym{border:0;border-bottom:1px dotted #666;}
body{background-color:#e8e8e8;}
hr{border:0;color:#CDCDCD;background-color:#CDCDCD;height:1px;margin:0;padding:0;}
blockquote{color:#666;font-style:italic;}
sup,sub{line-height:0;}
pre{white-space:pre;}
pre,code,tt{font:12px 'andale mono', 'lucida console', monospace;line-height:1.5;}
#wrapper{width:950px;height:auto;padding-right:5px;padding-left:5px;background-color:#fff;margin:0 auto;}
#container{width:950px;text-align:left;height:auto;position:relative;margin:10px auto 0;margin-top:8px;}
#container_kw{width:950px;text-align:left;height:auto;position:relative;margin:0 auto;}
#container810{width:810px;text-align:left;height:auto;position:relative;margin:0 auto;}
.w190{width:190px;}
.w230{width:230px;}
.w510{width:510px;}
.w750{width:750px;}
.w950{width:950px;margin:0;}
#left{float:left;margin-right:10px;display:inline;}
.hide{display:none;}
h3,h4{font-size:14px;}
h5,h6{font-size:12px;}
.column,div.w190,div.w230,div.w510,div.w950,#right{float:left;}
/*clear clearfix*/
.clearfix:after {content: "\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom: 1;} 
.clear{clear:both;}
.clearleft{clear:left;}
/*link style*/
a:link,a:visited{color:#333333;text-decoration:none;}
a:hover{color:#bc2931;text-decoration:underline;}
/*head*/
#menu{height:35px;color:#fff;width:950px;font-family:Helvetica,Arial,Verdana,sans-serif;float:left;position:relative;}
.menu_nav_l{background-image:url(../images/head/menu_nav_l.gif);background-repeat:no-repeat;float:left;height:35px;width:10px;background-position:left bottom;}
.menu_nav_m{background-image:url(../images/head/menu_nav_m.gif);background-repeat:repeat-x;float:left;height:35px;width:930px;}
.menu_nav_r{background-image:url(../images/head/menu_nav_r.gif);background-repeat:no-repeat;float:left;height:35px;width:10px;background-position:left bottom;}
#nav{height:35px;font-size:12px;text-transform:uppercase;font-weight:bold;float:left;width:930px;z-index:10;margin:0;padding:0;}
#menu_ul{padding:0;list-style-type:none;width:730px;float:left;margin:0;height:35px;}
.hotline{ float:left;width:200px; height:30px; float:left; line-height:30px; margin-top:5px; color:#fff;text-transform:none;}
#nav #menu_ul li{display:block;float:left;margin:0 1px;}
#nav #menu_ul li a{display:block;float:left;color:#fff;text-decoration:none;padding:0 0 0 20px;height:35px;}
#nav #menu_ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#nav #menu_ul li a:hover{color:#fff;background:transparent url(../images/head/nav_over.gif) repeat-x bottom left;cursor:pointer;}
#nav #menu_ul li a:hover span{display:block;width:auto;cursor:pointer;}
#menu_edu a:link,#menu_edu a:visited{color:#fff;text-decoration:underline;}
#menu_edu a:hover{color:#fff;text-decoration:none;}
#sub_menu{line-height:23px;font-weight:700;color:#fff;float:left;height:23px;width:950px;background-color:#365799;}
#menu_edu{font-weight:700;color:#fff;float:right;height:18px;width:auto;list-style-type:none;padding-bottom:0;padding-left:0;overflow:hidden;padding-right:10px;margin-top:2px;margin-right:0;margin-bottom:0;margin-left:0;}
#menu_edu li.sub_edu01{float:left;width:46px;margin-right:3px;display:inline;}
#menu_edu li.sub_edu02{float:left;width:55px;margin-right:3px;margin-left:3px;display:inline;}
#menu_edu li.sub_edu03{float:left;width:68px;margin-right:3px;margin-left:3px;display:inline;}
#menu_edu li.sub_edu04{float:left;width:56px;margin-right:3px;margin-left:3px;display:inline;}
#menu_edu li.sub_edu05{float:left;width:123px;margin-right:3px;margin-left:3px;display:inline;}
#menu_edu li.sub_edu06{float:left;width:68px;margin-left:3px;display:inline;}
#edu_line{float:left;width:5px;height:23px;background-image:url(../images/head/menu_edu_line.gif);background-repeat:no-repeat;}
/* 定位 */ 
.home #nav #menu_ul li#menu01 a,.home #nav #menu_ul li#menu01 a:hover{color:#fff;background:#365799 url(../images/head/nav_left_on.gif) no-repeat top left;line-height:275%;}
.home #nav #menu_ul li#menu01 a span{display:block;padding:0 18px 0 0;width:auto;background:#365799 url(../images/head/nav_right_on.gif) no-repeat top right;height:35px;}
.job #nav #menu_ul li#menu02 a,.job #nav #menu_ul li#menu02 a:hover{color:#fff;background:#365799 url(../images/head/nav_left_on.gif) no-repeat top left;line-height:275%;}
.job #nav #menu_ul li#menu02 a span{display:block;padding:0 15px 0 0;width:auto;background:#365799 url(../images/head/nav_right_on.gif) no-repeat top right;height:35px;}
.employer #nav #menu_ul li#menu03 a,.employer #nav #menu_ul li#menu03 a:hover{color:#fff;background:#365799 url(../images/head/nav_left_on.gif) no-repeat top left;line-height:275%;}
.employer #nav #menu_ul li#menu03 a span{display:block;padding:0 18px 0 0;width:auto;background:#365799 url(../images/head/nav_right_on.gif) no-repeat top right;height:35px;}
/* 定位 */ 
#head_up{float:left;height:81px;width:950px;padding-top:3px;}
#header{height:142px;width:950px;overflow:hidden;clip:}
#head_up .logo{
	background-image:url(../images/head/logo.gif);
	background-repeat:no-repeat;
	float:left;
	height:80px;
	width:286px;
	background-position: center center;
}
#head_up .banner{float:left;height:80px;width:660px; margin-left:4px}
#dw{float:left;height:35px;width:910px;margin-bottom:32px;margin-left:20px;}
/*foot*/
#foot{background-image:url(../images/head/footbg.gif);background-repeat:repeat-x;float:left;height:100px;width:950px; margin-top:10px;}
#foot .link{width:360px;margin-right:auto;margin-left:auto;}
#foot .copyright{width:370px;margin-right:auto;margin-left:auto;}
#foot p{line-height:40px;}
#foot p a{color:#5c5c5c;text-decoration:none;}
/*wrogn tip*/
.option{font-weight:bold;font-size:12px;margin-bottom:10px;padding-top:0;padding-right:10px;padding-bottom:0;}
.warning{background:url(../images/err.gif) #fcf7e0 no-repeat 5px 50%;padding:4px 5px 4px 35px;}
.ok { padding:8px 5px 10px 35px; background: url(../images/ok.gif) #e9f4d5 no-repeat 5px 5px;}
.add{ float:left; width:350px; padding-left:5px;}
.sign{float:left;width:30px; padding-right:5px;}

#jobdetailedads div,#jobdetailedadsblank{height:160px;}
#jobdetailedads {
	position: absolute;
	clear:both;
	top:0px;
	text-align:center;
	width:100%;
}
#jobdetailedads div{
	margin:0 auto ;
	width:950px;
}
